[Desktop Entry]
Type=Application
Version=1.0
Name=Installa StradiLabOS
GenericName=Installatore grafico
Comment=Installa StradiLabOS sul computer
Exec=calamares-install-debian
TryExec=calamares-install-debian
Keywords=installazione;sistema;disco;StradiLabOS;
Icon=stradilabos
Terminal=false
Categories=System;
StartupWMClass=calamares
StartupNotify=true
