[Desktop Entry]
Type=Application
Version=1.0
Name=Programmi Svolti
Comment=Archivio dei programmi svolti per classe, indirizzo e materia.
Exec=stradilabos-open-app "https://programmi-svolti.stradilab.org" "programmi-svolti"
TryExec=stradilabos-open-app
Icon=stradilabos
Terminal=false
Categories=Education;Network;
Keywords=StradiLab;StradiLab;tutti;
X-StradilabOS-Category=StradiLab
StartupNotify=true
