[Desktop Entry]
Type=Application
Version=1.0
Name=Catalogo Opere degli Alunni
Comment=Archivio digitale dei lavori degli studenti dei cinque indirizzi.
Exec=stradilabos-open-app "https://catalogo-stradivari.stradilab.org" "catalogo-opere-degli-alunni"
TryExec=stradilabos-open-app
Icon=stradilabos-orientamento
Terminal=false
Categories=Education;Network;
Keywords=StradiLab;Orientamento;studenti;
X-StradilabOS-Category=Orientamento
StartupNotify=true
