[Desktop Entry]
Type=Application
Version=1.0
Name=Google Drive
Comment=File e cartelle dell'account istituzionale.
Exec=stradilabos-open-app "https://drive.google.com/" "google-drive"
TryExec=stradilabos-open-app
Icon=stradilabos-workspace
Terminal=false
Categories=Education;Network;
Keywords=StradiLab;Workspace;docenti;studenti;personale;
X-StradilabOS-Category=Workspace
StartupNotify=true
