[Desktop Entry]
Type=Application
Version=1.0
Name=Google Fogli
Comment=Fogli di calcolo collaborativi per attività e laboratori.
Exec=stradilabos-open-app "https://docs.google.com/spreadsheets/" "google-fogli"
TryExec=stradilabos-open-app
Icon=stradilabos-workspace
Terminal=false
Categories=Education;Network;
Keywords=StradiLab;Workspace;docenti;studenti;personale;
X-StradilabOS-Category=Workspace
StartupNotify=true
