[Desktop Entry]
Type=Application
Version=1.0
Name=Locandine Eventi
Comment=Locandine e poster per concerti e saggi, pronte in PDF.
Exec=stradilabos-open-app "https://locandine-eventi.stradilab.org" "locandine-eventi"
TryExec=stradilabos-open-app
Icon=stradilabos
Terminal=false
Categories=Education;Network;
Keywords=StradiLab;Orientamento;tutti;
X-StradilabOS-Category=Orientamento
StartupNotify=true
