[Desktop Entry]
Type=Application
Version=1.0
Name=Circolari
Comment=Le comunicazioni ufficiali rivolte a studenti, famiglie e personale.
Exec=stradilabos-open-app "https://www.istitutostradivari.edu.it/comunicati" "circolari"
TryExec=stradilabos-open-app
Icon=stradilabos
Terminal=false
Categories=Education;Network;
Keywords=StradiLab;Scuola;tutti;
X-StradilabOS-Category=Scuola
StartupNotify=true
