[Desktop Entry]
Type=Application
Version=1.0
Name=Google Calendar
Comment=Calendari, lezioni, appuntamenti, riunioni e scadenze.
Exec=stradilabos-open-app "https://calendar.google.com/" "google-calendar"
TryExec=stradilabos-open-app
Icon=stradilabos-workspace
Terminal=false
Categories=Education;Network;
Keywords=StradiLab;Workspace;docenti;studenti;personale;
X-StradilabOS-Category=Workspace
StartupNotify=true
