[Desktop Entry]
Type=Application
Version=1.0
Name=Sito della Scuola di Liuteria
Comment=Laboratori, percorsi di studio e la tradizione liutaria cremonese.
Exec=stradilabos-open-app "https://scuoladiliuteria.com" "sito-della-scuola-di-liuteria"
TryExec=stradilabos-open-app
Icon=stradilabos
Terminal=false
Categories=Education;Network;
Keywords=StradiLab;Orientamento;studenti;
X-StradilabOS-Category=Orientamento
StartupNotify=true
