[Desktop Entry]
Type=Application
Version=1.0
Name=Accedi a Google Workspace
Comment=Accesso con l'account istituzionale, condiviso tra tutte le app Google.
Exec=stradilabos-open-app "https://accounts.google.com/ServiceLogin?service=mail&continue=https%%3A%%2F%%2Fmail.google.com%%2F&hd=istitutostradivari.it&hl=it" "workspace-login"
TryExec=stradilabos-open-app
Icon=stradilabos-workspace
Terminal=false
Categories=Education;Network;
Keywords=StradiLab;Workspace;docenti;studenti;personale;
X-StradilabOS-Category=Workspace
StartupNotify=true
