[Desktop Entry]
Type=Application
Version=1.0
Name=Formazione Interna
Comment=Rendicontazione delle ore di formazione dei docenti.
Exec=stradilabos-open-app "https://formazione-interna.stradilab.org" "formazione-interna"
TryExec=stradilabos-open-app
Icon=stradilabos
Terminal=false
Categories=Education;Network;
Keywords=StradiLab;StradiLab;docenti;
X-StradilabOS-Category=StradiLab
StartupNotify=true
