[Desktop Entry]
Type=Application
Version=1.0
Name=Google Documenti
Comment=Crea e modifica documenti collaborativi con l'account istituzionale.
Exec=stradilabos-open-app "https://docs.google.com/document/" "google-documenti"
TryExec=stradilabos-open-app
Icon=stradilabos
Terminal=false
Categories=Education;Network;
Keywords=StradiLab;Workspace;docenti;studenti;personale;
X-StradilabOS-Category=Workspace
StartupNotify=true
