[Desktop Entry]
Type=Application
Version=1.0
Name=Didattica e metodi
Comment=Metodo di studio, app, griglie disciplinari e percorso DigComp 3.0.
Exec=stradilabos-open-app "https://didattica.stradilab.org" "didattica"
TryExec=stradilabos-open-app
Icon=stradilabos
Terminal=false
Categories=Education;Network;
Keywords=StradiLab;StradiLab;studenti;docenti;
X-StradilabOS-Category=StradiLab
StartupNotify=true
