[Desktop Entry]
Type=Application
Version=1.0
Name=Guide StradiLabOS
Comment=Impara a usare le app della tua area
Exec=stradilabos-guide
TryExec=stradilabos-guide
Icon=stradilabos-guide
Terminal=false
Categories=Education;Utility;
StartupNotify=true
