[Desktop Entry]
Type=Application
Version=1.0
Name=Benvenuto in StradiLabOS
Comment=Le azioni principali per iniziare
Exec=stradilabos-welcome
TryExec=stradilabos-welcome
Icon=stradilabos-welcome
Terminal=false
Categories=Education;System;
StartupNotify=true
