[Desktop Entry]
Type=Application
Version=1.0
Name=Google Classroom
Comment=Corsi, materiali, compiti e comunicazioni delle classi.
Exec=stradilabos-open-app "https://accounts.google.com/ServiceLogin?service=classroom&continue=https%%3A%%2F%%2Fclassroom.google.com%%2F&hd=istitutostradivari.it&hl=it" "google-classroom"
TryExec=stradilabos-open-app
Icon=stradilabos-workspace
Terminal=false
Categories=Education;Network;
Keywords=StradiLab;Workspace;docenti;studenti;
X-StradilabOS-Category=Workspace
StartupNotify=true
