<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
  "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
  "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>
  <vendor>StradiLab</vendor>
  <vendor_url>https://stradilab.org/stradilabos/</vendor_url>
  <action id="org.stradilab.stradilabos.install-packs">
    <description>Installare applicazioni didattiche in StradilabOS</description>
    <message>Inserisci la password per installare le applicazioni selezionate nel Centro App</message>
    <icon_name>stradilabos-app-center</icon_name>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/local/lib/stradilabos/install_pack.py</annotate>
  </action>
</policyconfig>
