[Desktop Entry]
Type=Application
Name=Benvenuto in StradilabOS
Exec=stradilabos-welcome --autostart
TryExec=stradilabos-welcome
Icon=stradilabos
Terminal=false
OnlyShowIn=XFCE;
X-GNOME-Autostart-enabled=true
