[Unit]
Description=Aggiornamenti StradiLabOS
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/stradilabos-update
TimeoutStartSec=15min
