[Desktop Entry]
Type=Application
Name=Google Chrome
Comment=Apri Chrome o il browser disponibile
Exec=stradilabos-browser
TryExec=stradilabos-browser
Icon=google-chrome
Terminal=false
