[Desktop Entry]
Type=Application
Name=Browser
Comment=Apri il browser per navigare
Exec=stradilabos-browser
TryExec=stradilabos-browser
Icon=chromium
Terminal=false
